body {
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  background: #fff;
  color: #222;
}

.navbar {
  padding: 1rem;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.navbar .logo {
  width: 10%;
}

.navbar .logo img {
  width: 100%;
  height: auto;
}

.navbar .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 0 2rem;
  width: 90%;
}

.navbar .nav-links div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}