.App-header {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  color: #ffffff;
}

.App-header .logo {
  width: 250px;
  height: auto;
}

.App-header p {
  margin: 20px;
  color: black;
}

.App-header p:hover {
  color: orange;
  cursor: pointer;
}

.studente-container {
  align-items: center;
  display: flex;
  gap: 20px;
  border: 2px solid orange;
  border-radius: 10px;
}

.studente-container .avatar {
  width: 100px;
  height: 100px;
}