html, body{
  margin: 0;
  padding: 0;
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logoSection{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3vw;
  list-style-type: none;
}

.logoSection img{
  width: 100px;
  height: auto;
}

.navigation ul{
  display: flex;
  flex-direction: row;
  gap: 3vw;
  list-style-type: none;
  align-items: center;
}

.navigation a{
  text-decoration: none;
  color: #222;
}

.userSection{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3vw;
  list-style-type: none;
}

.userSection ul{
  display: flex;
  flex-direction: row;
  gap: 3vw;
  list-style-type: none;
  align-items: center;
  color: #dd731c;
}

.logoutBtn{
  background-color: transparent;
  border-color: transparent;
  font-size: 1rem;
  color: #dd731c;
}


.container{
  width: 50vw;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.teacherName{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border: 1px solid #dd731c;
  border-radius: 10px;
  color: #dd731c;
  font-size: 1rem;
}

.info{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3vw;
}

.info div{
  background-color: lightgray;
  padding: 3px;
  height: auto;
  border-radius: 5px;
}
.info div p{
  margin: 0;
  font-size: 0.8rem;
}


.time{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  border-radius: 50px;
  gap: 2vh;
}

.timeLable{
  color: lightgray;
  font-size: 1.2rem;
  margin: 0;
}
.timeValue{
  font-size: 1.2rem;
  margin: 0;
}

.questions{
  display: flex;
  flex-direction: column;
  gap: 3vh;
}


.question form{
  display: flex;
  flex-direction: column;
  align-items: start;
}
 
