.date{
    background-color: rgb(228, 228, 228);
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 15px;
    font-size: medium;
    color: rgb(91, 91, 91);
}

.container{
    display: flex;
}