.dati{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}


.texdati{
    font-size: 14px;
    color: rgba(109, 109, 109, 0.858);
    background-color: rgba(145, 145, 145, 0.194);
    border-radius: 10px;
    padding: 5px;
    width: auto;
}