.main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.content {
  padding: 8px;
  max-width: 900px;
  width: 100%;
}

.question {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 20px;
}
